# Xcode
build/*
DerivedData/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
project.xcworkspace
*.moved-aside
*.mo
*.xcuserstate
*.xcuserdata
*.xcuserdatad
*.xccheckout
*.orig
tmp/
.DS_Store
logs/
pkg/
local/

### SwiftPM ###
Packages
.build/
.swiftpm

# AppCode
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml

# Carthage
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# ci
.ruby-version
vendor/

# Mistica skin generator
scripts/mistica-skin-generator/.vscode
scripts/mistica-skin-generator/node_modules
scripts/mistica-skin-generator/package-lock.json
