{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        ["@semantic-release/exec", {
            "prepareCmd": "bash ./scripts/update-version.sh ${nextRelease.version}"
        }],
        ["@semantic-release/git", {
            "assets": ["CHANGELOG.md", "Sources/SupportFiles/Mistica.xcconfig", "MisticaCatalog/SupportFiles/MisticaCatalogConfig.xcconfig"]
        }],
        "@semantic-release/github"
    ],
    "branches": ["main"]
}
