{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        ["@semantic-release/exec", {
            "prepareCmd": "./scripts/update-version.sh ${nextRelease.version}"
        }],
        ["@semantic-release/git", {
            "assets": ["CHANGELOG.md", "Mistica.podspec", "Mistica/SupportFiles/Mistica.xcconfig", "MisticaCatalog/SupportFiles/Config.xcconfig"]
        }],
        "@semantic-release/github"
    ],
    "branches": ["14.2.2","main"]
}
