# file options

--exclude Carthage,**/Resources,scripts,buildTools

# format options

--allman false
--indent 4
--stripunusedargs closure-only
--decimalgrouping 3,4
--commas inline
--maxwidth none
--wraparguments before-first
--wrapcollections before-first
--header "\n {file}\n\n Made with ❤️ by Novum\n\n Copyright © Telefonica. All rights reserved.\n "

# rules

--disable hoistPatternLet,redundantRawValues,andOperator,redundantNilInit,wrapMultilineStatementBraces
