# file options

--exclude Carthage,**/Resources,scripts

# format options

--allman false
--indent 4
--stripunusedargs closure-only
--decimalgrouping 3,4
--commas inline
--maxwidth none
--wrapcollections before-first

# rules

--disable hoistPatternLet,redundantRawValues,andOperator,redundantNilInit,wrapArguments,wrapMultilineStatementBraces